
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="https://oauth.vk.com/authorize?client_id=5189124&display=page&redirect_uri=http://localhost:65171/VkLogin/&scope=friends&response_type=code&v=5.41">vk login</a>